<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
    <category id="mal" label="30100">
        <group id="1">
            <setting id="client_id" type="string" label="30001" default="">
                <level>0</level>
            </setting>
            <setting id="client_secret" type="string" label="30002" default="" option="hidden">
                <level>0</level>
            </setting>
            <setting id="redirect_uri" type="string" label="30004" default="http://localhost:8080/callback">
                <level>1</level>
            </setting>
            <setting id="debug_logging" type="boolean" label="30003" default="false">
                <level>0</level>
            </setting>
        </group>
    </category>
    <category id="anilist" label="30200">
        <group id="1">
            <setting id="anilist_client_id" type="string" label="30201" default="">
                <level>0</level>
            </setting>
            <setting id="anilist_client_secret" type="string" label="30202" default="" option="hidden">
                <level>0</level>
            </setting>
        </group>
    </category>
</settings>